html,
body {
  height: 100%;
  background-color: #007f8e;
opacity: 0.9;
background-image: radial-gradient(circle at center center, #00aeb8, #007f8e), repeating-radial-gradient(circle at center center, #00aeb8, #00aeb8, 26px, transparent 52px, transparent 26px);
background-blend-mode: multiply;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
#gotopage3 a {
    text-decoration: none;
    color:white;
}
#gotopage3 a :hover {
    text-decoration: none;
    color:black;
}
#gotosign-up a {
  text-decoration: none;
    color:white;
}