html,
body {
 
  background: radial-gradient(circle at 0% 55%,rgba(0,0,14,1), rgba(0,63,81,1), rgba(0,127,142,1), rgba(0,174,184,1));
  background-size: cover;
  size: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
#gotopage1 a {
    text-decoration: none;
    color:white;

}
#gotosign-in a {
  text-decoration: none;
  color:white;
}
