
.clear{clear:both; line-height:0; height:0; font-size: 1px}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
   }
   body{
      /* background-image:url(https://img.freepik.com/premium-photo/background-with-dumbbells-bottle-drink-sport-fitness-after-work-exercise-gym_522591-601.jpg); */
      background: radial-gradient(circle at 53% 0%,rgba(0, 0, 13, 1), rgba(0, 25, 51, 1), rgba(0,127,142,1));
      background-size: cover;
      size: 100%;
      background-repeat: repeat-x;
   }

.container{
      max-width: 1140px;
      margin: 0 auto;
   }
header {
   padding: 1rem;
   /* background: #e0bb43;
   background: -webkit-linear-gradient(257deg, #e0bb43 0%, #f74d37 100%);
   background: linear-gradient(257deg, #e0bb43 0%, #f74d37 100%); */

   }

   aside{
      float: right;
      /* padding-top: 1rem; */
      padding-right: 1rem;
      justify-content: right;
      
   }
.grid1{
   display: grid;
   grid-template-columns: 230px auto 300px;
   grid-template-rows: minmax(100px,auto) minmax(250px,auto);
   grid-template-areas: 
   'header header header'
   'section main main'

}
.page-header{
   grid-area: header;
}
.page-main{
   grid-area: main;
}
.page-section{
   grid-area: section;
}
.page-aside{
   grid-area: aside;
}
.page-footer{
   grid-area: footer;
}

.nav-con{
      display: flex;
      justify-content:space-between;
      
   }

.logo a {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
    align-items: center;
    font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   padding-top: 0.00000000125rem;
    
 }
.menu {
    display: flex;
    list-style: none;
    align-items: center;
   padding: 2px 9px;
    cursor: pointer;
    background: transparent;
    position: relative;
    transition: all 0.25s ease;
   font-size: 1rem;
   padding-left: 25rem;
   gap: 1rem;
}
   .menu::before{
    content: "";
    position: absolute;
    width: 100%;
   height: 2px;
   background: #dddddd;
   border-radius: 5px;
   transform: scaleX(0);
   transition: all .5s ease;
   bottom: 0;
   left: 0;  
 }

 .left-menu {
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   padding-top: 1rem;
   padding-left: 2px;
   margin-left: 1rem;
}



 .left-menu li{
   font-size: large;
   padding-top: 0.5rem;
   list-style: none;
   padding-right: 1rem;
 }

.hum-menu a{
   /* color: #252525; */
   color: #dddddd;

}


 .menu li{
    margin: 0 1rem;
   width: 120px;
   color: #dddddd;
   text-align: center;
   border-radius: 10px;
   place-content: center;
   
      
   }

 .menu li a{
    /* color: black; */
    color: #dddddd;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: 350;
   font-style: normal;
   transition: background-color 0.4s;
   
   
 }
 .hum-menu a ul  li{
   margin: 2 3rem;
   /* color: black; */
   color: #dddddd;
   list-style: none;
   padding-right: 1rem;
   width: 300px;
   
   
 }
  .hum-menu li a ul  {
   margin: 2 3rem;
   /* color: black; */
   color: #dddddd;
   list-style: none;
   padding-right: 1rem;
   width: 300px;

 }
 .hum-menu  {
   z-index: 1;
 }



 .hum-menu a:hover{
   color: darkslateblue;
 }
 .popup-menu{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   background: rgba(0,127,142,0.45);
   -webkit-backdrop-filter: blur(44px);
   backdrop-filter: blur(44px);
   border: 1px solid rgba(0,127,142,0.225);
   text-decoration: none;
   position: absolute;
   float: left;
   padding: 1rem;
   display: none;

 }

.popup-menu  a {
   text-decoration: none;
   
}

.popup-menu  li {
   padding-top: 0.125rem;
   
}
 .popup-menu :hover{
   color: darkslateblue;
   }
 .name-user li a{
   text-decoration: none;
   /* color: #252525; */
   color: #dddddd;
 }


 

.search-box{
   width: 250px;
   height: 6vh;
   position: relative;
   display: flex;
}
.input1 {
   width: 100%;
   height: 100%;
   border-radius: 7px ;
   border:solid 1px #252525;
   padding: 10px;
   font-size: 15px;
   outline: none;

}
.input2{
   border:solid 1px #252525;
   border-radius: 3px ;
  margin: 0.8rem;
  
}

.search-box p{
   position: absolute;
   top: -11px;
   left: 5%;
   /* color:black ; */
   color:#1e579c;
   padding: 0 10px ;
   font-size: 18px;
   font-weight: 300;
   font-family: "Space Grotesk", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   
}

.input2 {
   background: rgba(0,127,142,0.45);
   -webkit-backdrop-filter: blur(44px);
   backdrop-filter: blur(44px);
   border: 1px solid rgba(0,127,142,0.225);
   margin: 0.3rem;
   border-radius: 10px ;
   font-size: 20px;
   padding: 0.1rem;
}
.input2:hover{
   background: rgba(255,255,255,0.75);
-webkit-backdrop-filter: blur(7px);
backdrop-filter: blur(7px);
border: 1px solid rgba(255,255,255,0.375);
}
.con-top {
   padding: 0.3rem;
   /* padding-top: 0; */
   background: rgba(0,127,142,0.45);
   -webkit-backdrop-filter: blur(44px);
   backdrop-filter: blur(44px);
   border: 1px solid rgba(0,127,142,0.225);
   border-width: 2px; 
   border-color: #00aeb8;
   border-radius: 20px;
   
   
}

.top-list a :hover {
   text-decoration: none;
   color: #252525;
   background: rgba(255,255,255,0.35);
   -webkit-backdrop-filter: blur(28px);
   backdrop-filter: blur(28px);
   border: 1px solid rgba(255,255,255,0.175);
   border-radius: 10PX;
}

.past-head{
   padding: 0.5rem  ;
   font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: 350;
   font-style: normal;
   font-size: 18px;
}
/* .past-list{
   padding: 1rem;
   background: rgba(0,127,142,0.45);
   -webkit-backdrop-filter: blur(44px);
   backdrop-filter: blur(44px);
   border: 1px solid rgba(0,127,142,0.225);
   border-radius: 20px;
   line-height: 1.0;
   
} */
.past-list a {
   text-decoration: none;
   /* color: #252525; */
   color: #dddddd;
   padding-top: 0.01rem;
   
}
.page-header{
   background-color:black;
   /* position: fixed; */
   /* display: flex; */
   position: static;
}

.past-list p:hover {
   text-decoration: none;
   color: #252525;
   background: rgba(255,255,255,0.35);
   -webkit-backdrop-filter: blur(28px);
   backdrop-filter: blur(28px);
   border: 1px solid rgba(255,255,255,0.175);
   border-radius: 10PX;
}
.top-head {
   padding: 0.5rem  ;
   font-family: "Oswald", sans-serif;
   font-optical-sizing: auto;
   font-weight: 350;
   font-style: normal;
   font-size: 18px;
   color: #dddddd;
   cursor: default;


}
.top-list a  {
   text-decoration: none;
   /* color: #252525; */
 color: #dddddd;  
}
.top-list{
   padding: 1rem;
   line-height: 1.0;
}
.top-head{
   padding-left: 12px;
}
.button1 {
   /* background: rgba(255,255,255,0.15);
   -webkit-backdrop-filter: blur(19px);
   backdrop-filter: blur(19px);
   border: 1px solid rgba(255,255,255,0.075); */
   border-radius: 6px;
   width: 120px;
   color: #dddddd;
   text-align: center;
   border-radius: 10px;
   transition: background-color 0.4s;
   padding: 0.3rem;
   font-size: 1rem;
   transition: font-size 0.5s ease-out;
}

.button1:hover {
   /* background: rgba(255,255,255,0.35);
   -webkit-backdrop-filter: blur(28px);
   backdrop-filter: blur(28px);
   border: 1px solid rgba(255,255,255,0.175);  */
   transition: font-size 0.3s ease-in;
    /* font-size: 1.2rem;  */
   color: #0ce6f2;
 } 

 .button1 :hover {
  color:#0ce6f2;
 }

 .dev-photo img {
   border-radius: 100px;
 }
 .aside-left{
float: left;
left: 0;
top: 2;
margin-left: 2px;
padding-top: 1rem;
position: absolute;
height: 100%;
width: 15%;
background: rgba(0,127,142,0.45);
-webkit-backdrop-filter: blur(44px);
backdrop-filter: blur(44px);
border: 1px solid rgba(0,127,142,0.225);
border-width: 2px; 
border-color: #00aeb8;
text-align: left;

 }

 .drop ul{
   list-style: none;
   text-align: left;
   padding-left: 2px;
   text-align: left;
   left: 0;
   color: #dddddd;
} 

.drop1 ul{
   list-style: none;
   text-align: left;
   padding-left: 2px;
   text-align: left;
   left: 0;
   color: #dddddd;
} 
.drop2 ul{
   list-style: none;
   text-align: left;
   padding-left: 2px;
   text-align: left;
   left: 0;
   color: #dddddd;
}

.drop ul li {
   text-decoration: none;
   color: #dddddd;
   display: block;
   padding-right: 5px;
   border-bottom: 1px solid #888;
   transition: .2s;
} 
.drop1 ul li {
   text-decoration: none;
   color: #dddddd;
   display: block;
   padding-right: 5px;
   border-bottom: 1px solid #888;
   transition: .2s;
}
.drop2 ul li {
   text-decoration: none;
   color: #dddddd;
   display: block;
   padding-right: 5px;
   border-bottom: 1px solid #888;
   transition: .2s;
}

.drop ul li :hover {
   background: #888;
} 
.drop1 ul li :hover {
   background: #888;
}
.drop2 ul li :hover {
   background: #888;
}


.sideleft-menu  ul li {
   /* font-size: 1.2rem; */
   line-height: 40px;
   text-align: left;

   
} 

.aside-left a {
text-decoration: none;
color: #212f1c;
color: #dddddd;
line-height: 0.8;
padding-left: 5px;
}
/* .sideleft-menu ul   {
   font-size: 1rem;

}  */
/* .sideleft-menu ul li   {


}  */
.drop ul  ul  {
   font-size: 0.8em;
   cursor: default;
   /* position: absolute; */
   display: none;
   /* width: inherit; */
   border-bottom: 1px solid #888;
} 

.drop1 ul  ul  {
   font-size: 0.8em;
   cursor: default;
   /* position: absolute; */
   display: none;
   /* width: inherit; */
   border-bottom: 1px solid #888;
} 
.drop2 ul  ul  {
   font-size: 0.8em;
   cursor: default;
   /* position: absolute; */
   display: none;
   /* width: inherit; */
   border-bottom: 1px solid #888;
}
.drop li ul {
  /* display: none; */
   width: inherit;
   position: absolute;
   width: inherit;
   margin-bottom: 2rem;
} 
.drop1 li ul {
   /* display: none; */
    width: inherit;
    position: absolute;
    width: inherit;
    margin-bottom: 2rem;
 }
 .drop2 li ul {
   /* display: none; */
    width: inherit;
    position: absolute;
    width: inherit;
    margin-bottom: 2rem;
 }
.drop ul:hover ul  {
   display: block;
} 

.drop1 ul:hover ul  {
   display: block;
}
.drop2 ul:hover ul  {
   display: block;
}
.aside-left a :hover {
   background: rgba(255,255,255,0.35);
   -webkit-backdrop-filter: blur(28px);
   backdrop-filter: blur(28px);
   border: 1px solid rgba(255,255,255,0.175);
   }


   /* .not-drop ul li{
    color: #1e579c;
   } */

   .postcon {
      margin: 1rem;
      padding-top: 1rem;
      left: 15rem;
      position: absolute;
      width: 800px;
      background: rgba(0,127,142,0.45);
      -webkit-backdrop-filter: blur(44px);
      backdrop-filter: blur(44px);
      border: 1px solid rgba(0,127,142,0.225);
      
      
   }
   .post-grid{
      display: grid;
      grid-template-columns: 300px 620px ;
      grid-template-rows: minmax(60px,auto) minmax(60px,auto);
      padding: 0.2rem;
      grid-template-areas: 
      'header header'
      'main  main'
   }

   .post-con{
      grid-area: header;
   }
   .post-main{
      grid-area:main;
      margin-top: 1rem;
      background: rgba(255,255,255,0.15);
      -webkit-backdrop-filter: blur(19px);
      backdrop-filter: blur(19px);
      border: 1px solid rgba(255,255,255,0.075);
      color: #dddddd;
      z-index: -9;
   }
   .post-main img {
      width: 100%;
   }
   .post-name{
      display: flex;
      padding-left: 1rem;
   }
   .post-name p{
       padding-left: 9px;
   }
   .post-rep{
      display: flex;
      font-size: 20px;
      padding-top: 15px;
      padding-left: 10px;
      justify-content:space-between;
   }
   .post-rep p{
      padding-right: 20px;
   }
   /* .post-rep p a {
      text-decoration: none;
      color: #1e579c;
   } */
   .หนา{
      font-weight: 900;
   }
   .post-dei{
      padding-left: 1rem;
   }

   .post-con{
      display: grid;
      grid-template-columns: 300px 560px ;
      grid-template-rows: minmax(20px,auto) minmax(20px,auto);
      padding: 1rem;
     background: rgba(0,127,142,0.45);
      -webkit-backdrop-filter: blur(44px);
      backdrop-filter: blur(44px);
      border: 1px solid rgba(0,127,142,0.225);
      grid-template-areas: 
      'header header'
      'aside  main'
      

   }
   .post{
      grid-area: header;
      margin-left: 2.5rem;
   }
   .post button{
   padding-bottom: 0.2rem;

   }
   .post-aside{
      grid-area: aside;
      justify-content:space-between;
      padding-top: 5px;
      padding-left: 35px;
   }

 .post-aside label a{
   text-decoration: none;
   color: #252525;
 }

 .first-set label{
   padding-right: 10px;
   color: #dddddd;
 }
 .first-set  a{
   text-decoration: none;
   color:#dddddd;
 }
 .sec-set{
   display: flex;
   float: right;
   margin-top: 0.2rem;
   grid-area: main;
   padding-left: 18rem;
 }
 .sec-set li a {
   text-decoration: none;
   color: #dddddd;

 }
 .sec-set li  {
   list-style: none;
   padding-right: 1rem;
  
 }
 /* .sec-set li a i  {
  font-size: 20px;
  padding-top: 4px;

 } */
 .post button{
   width: 800px;
   height: 7vh;
   background: rgba(255,255,255,0.15);
   -webkit-backdrop-filter: blur(19px);
   backdrop-filter: blur(19px);
   border: 1px solid rgba(255,255,255,0.075);
   border-radius: 60px;
   text-decoration: none;
   border-radius: 10px;
   padding: 10px 60px;
   border: 0;
   outline: none;
   

 }
 .sec-set li a i {
   padding-top: 0.1rem;
 }

.post button a{
   text-decoration: none;
   color: antiquewhite;
   
}
.post-popup{
   width: 760px;
   height: 40vh;
   background: linear-gradient(180deg, rgba(0,25,51,1), rgba(121,96,149,1), rgba(74,122,150,1), rgba(0,174,184,1));
   box-sizing: 3px;
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%,-50%) scale(0.1);
   /* text-align: center; */
   padding:  0 30px 30px;
   color: #dddddd;
   z-index:  999;
   /* position: absolute; */
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}
.open-Popup{
   visibility:visible;
   top: 50%;
   transform: translate(-50%,-50%) scale(1);
}
.post-popup button{
   width: 10%;
   
   float: right ;
   margin-top: 1px;
   right: 0;
   top: 0px;
   /* margin-right: 10px; */
   padding: 4px 0;
   background: #252525;
   color: #dddddd;
   outline: none;
   font-size: medium;
   /* border-radius: 8px; */
   position: absolute;
   /* cursor: pointer; */
   
}


.post-popup h2 {
   top: 2rem;
   position: absolute;
}
.post-popup textarea {
   top: 6rem;
   width: 700px;
   margin: 1 1 1 1 1rem;
   height: 24vh;
   font-size: 16px;
   position: absolute;
   align-items: center;
}
.page-main-pic{
      display: grid;
      grid-template-columns: 800px 320px ;
      grid-template-rows: minmax(60px,auto) minmax(60px,auto);
      /* padding: 0.2rem; */
      background: rgba(0,127,142,0.45);
      -webkit-backdrop-filter: blur(44px);
      backdrop-filter: blur(44px);
      border: 1px solid rgba(0,127,142,0.225);
      grid-template-areas: 
      'header header'
      'section  main'
}
.page-main-pic1{
   grid-area: header;

}
.page-main-pic2{
   grid-area: section;
}
.page-main-pic3{
   grid-area: main;
}
.page-main-pic1 img {
   width:1120px;
   height: 400px;

}
.page-main-pic2 img {
   width: 800px;
   height: 400px;
}
.page-main-pic3 img {
   width: 320px;
   height: 400px
   
}